<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Agendador de Consultas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="../assets/cruz_medicina.png"></ion-img>
   <ion-card-title>Olá, seja bem vindo!</ion-card-title>
   <ion-card-content>Para prosseguir clique no botão abaixo.</ion-card-content>
   <ion-button color="primary" (click)="avancarPag()">Consulta</ion-button>
  </ion-card>
</ion-content>